<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie6 lt-ie11 lt-ie10 lt-ie9 lt-ie8 lt-ie7 is-ie" lang="en"> <![endif]-->
<!--[if IE 7]><html class="ie7 lt-ie11 lt-ie10 lt-ie9 lt-ie8 is-ie" lang="en"> <![endif]-->
<!--[if IE 8]><html class="ie8 lt-ie11 lt-ie10 lt-ie9 is-ie" lang="en"> <![endif]-->
<!--[if IE 9]><html class="ie9 lt-ie11 lt-ie10 is-ie" lang="en"> <![endif]-->
<!--[if IE 10]><html class="ie10 lt-ie11 is-ie" lang="en"> <![endif]-->
<!--[if gt IE 10]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>

		{% set metaTitle = data.meta.title|default(config.siteTitle) %}
		{% set metaDescription = data.meta.description|default(config.siteDescription) %}
		{% set metaSiteName = data.meta.description|default(config.metaSiteName) %}
		{% set metaImage = data.meta.image|default(config.metaImage) %}
		{% set metaTwitterName = data.meta.description|default(config.metaTwitterName) %}
		{% set metaImageTwitter = data.meta.imageTwitter|default(metaImage) %}

		<meta charset="utf-8" />

		<title>{{ metaTitle }}</title>

		<!-- Meta -->
		<meta name="description" content="{{ metaDescription }}" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
		<meta name="robots" content="index, follow" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<!-- Opengraph meta -->
		<meta property="og:title" content="{{metaTitle}}" />
		<meta property="og:description" content="{{metaDescription}}" />
		<meta property="og:image" content="{{metaImage}}" />
		<meta property="og:site_name" content="{{metaSiteName}}" />
		<meta property="og:type" content="website" />

		<!-- Twitter meta -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="{{metaTwitterName}}" />
		<meta name="twitter:title" content="{{metaTitle}}" />
		<meta name="twitter:description" content="{{metaDescription}}" />
		<meta name="twitter:image" content="{{metaImageTwitter}}" />

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png" />
		<link rel="manifest" href="/assets/favicon/site.webmanifest" />
		<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5" />
		<link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml" />
		<meta name="theme-color" content="#ffffff" />

		<!-- Ressource hinting -->
		{% if config.preload %}
			{% for preload in config.preload %}
			{% if preload.type == 'font' %}
			<link rel="preload" href="{{ preload.href }}" as="font" crossorigin="crossorigin" type="font/{{ preload.format }}" />
			{% endif %}
			{% endfor %}
		{% endif %}

		<!-- CSS -->
		{% if manifest %}
		<link rel="stylesheet" type="text/css" href="{{ manifest['main.css'] }}" />
		{% endif %}

		<!-- Global Data -->
		{% if globalData %}
		<script>
			window.globalData = '{{ globalData }}';
		</script>
		{% endif %}

		<!-- <noscript><link rel="stylesheet" href="/assets/css/noscript.css"></noscript> -->
	</head>

	<body>
		<header id="main-nav">
			<nav>
				<h1 class="logo">LOGO</h1>
				<ul class="menu">
					<li><a data-page="HOMEPAGE" href="/" title="">Home</a></li>
					<li><a data-page="ABOUT" href="/about" title="">About</a></li>
					<li><a href="https://www.google.com" target="_blank" rel="noopener noreferrer">External Link</a></li>
					<li><a href="/dsads" title="">Broken Link</a></li>
				</ul>
			</nav>
		</header>

		<div id="header-container"></div>
	</body>
</html>
